

<%= render 'shared/header' %>

<div class="container">

  <div class="user-show row">

    <div class="user-show-left col-md-4">
      <img src="/images/dog.jpeg" style="width:140px; height:140px;" alt="..." class="img-circle">

    </div>

    <div class="user-show-right col-md-8">
      <p><%= @user.name %></p>
      <p><%= @user.profile %></p>
    </div>

  </div>










</div>
<!-- container -->



<%= render 'shared/footer' %>
