

<%= render 'shared/header' %>

<div class="container">

  <div class="user-show">
    <div class="user-show-left">
      <img src="/images/dog.jpeg" style="width:140px; height:140px;" alt="..." class="img-circle">

    </div>

    <div class="user-show-right">
      <%= @user.name %>

    </div>

  </div>










</div>
<!-- container -->



<%= render 'shared/footer' %>
