<footer>
  <div class="footer-contents">
    <div class="container">
      <div class="footer-left">


        <h6>このサイトについて</h6>
        <ul>
          <li><a href="#">Dog instagramとは?</a></li>
          <li><a href="#">会社概要</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>

      </div>
      <!-- footer-left -->

      <div class="footer-right">


        <h6>SNS</h6>
        <ul>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
        </ul>

      </div>
      <!-- footer-left -->


      </div>
      <!-- container -->

      <p>copyright sasakura kazuya</p>
    </div>
    <!-- footer-contents -->


</footer>
