
<%= render 'shared/header' %>


<div class="top-image">
  <div class="bg-inner">
    <h1>Dogs Instagram</h1>
    <p>わんこ専用写真投稿サイト</p>
  </div>
</div>


<div class="container">
  <div class="index-loop">
    <h1><%= fa_icon "plane" %>新着</h1>
    <%= render @dogposts %>
  </div>
</div>







<%= render 'shared/footer' %>
