/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";


// footer start

 .footer-contents {
   background-color: #393F48;
   padding: 20px;

   h6 {
     color: #FFF;
     font-size: 14px;
     margin-bottom: 26px;
     margin-left: 37px;
   }
   li {
     list-style: none;
     margin-bottom: 10px;

     a {
       color: #999;
     }
   }

   p {
     margin: 0 0 10px;
     text-align: center;
     color: #999;
     margin-top: 42px;
     letter-spacing: 2px;
   }
 }

.footer-left {
  float: left;
  width: 33%;
}


.footer-right {
  float: left;
  width: 33%;
}

// footer end
