// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// bootstrap

.navbar {
  margin-bottom: 0!important;
}





// pages/index.html.erb


.top-image {
  background-image: url("/images/dog.jpeg");
  background-size: cover;

  h1 {
    color: #FFF;
    letter-spacing: 3px;
    font-size: 66px;
    margin-bottom: 22px;
  }

  p {
    color: #FFF;
    letter-spacing: 2px;
  }


}

.bg-inner {
  padding-top: 200px;
  padding-bottom: 150px;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}

.index-contents-main {
  width: 600px;
  margin: 30px auto;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}





.index-contents {
  margin: 0 auto;

  img {
    width: 600px;
    height: 600px;
    margin-bottom: 10px;
    border-radius: 3px;
  }
}


.index-contents-bottom {
  padding: 14px 20px;

  a {


    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-bottom: 10px;
      float: left;
    }
  }

  p {
    color: #999;
    clear: both;
    padding-top: 13px;
  }
}

.index-user-name {

    float: left;
    margin-left: 14px;
    margin-top: 7px;

    a {
      color: #262626;
      font-weight: bold;

    }
}


.index-loop {

  h1 {
    margin: 50px auto 70px;

  }

  i {
    margin-right: 11px;
  }
}
