// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// user/show.html.erb



.user-show {
  height: 100px;
  margin-top: 66px;
  margin-bottom: 66px;


}

.user-show-left {
  width: 40%;
  float: left;
  text-align: center;


}


.user-show-right {

  width: 60%;



}
