// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// user/show.html.erb


.user-show-main {
  margin-bottom: 100px;
}



.user-show {
  margin-top: 66px;
  margin-bottom: 66px;


}

.user-show-left {
  text-align: center;

}


.user-show-right {

  a {

    border: solid 2px #dbdbdb;
    display: inline-block;
    margin-top: 17px;
    padding: 8px 22px;
    border-radius: 4px;
    color: #666;
    font-weight: bold;
    letter-spacing: 1px;

  }

  a:hover {
    text-decoration: none;
    color: steelblue;
  }

}

#dogpost {

  img {
    width: 293px;
    height: 293px;
    border-radius: 3px;
  }

  li {
    list-style: none;
  }

  .content {
    margin-bottom: 25px;
  }

}

.image-count {
  margin-bottom: 56px;
}
